:ruby
  basedir = "#{root}/#{config.source}#{current_page.url}"

  dirs = Dir.glob("#{basedir}**/*html*")
  #dirs = Dir.glob("#{basedir}*/*html*")

  pages = sitemap.resources.select do |p|
    dirs.include?(p.source_file)
  end
    
  #.map do |file|
    #fname = file.sub(basedir, '')
    #p = sitemap.resources.select { |f| f.url == fname }.count
    #p = sitemap.resources.find_all { |p| p.source_file == file }
    #"#{fname} :: #{p}"
    ##p ? p.title : ''
  #end



~ wrap_layout :layout do
  = yield

  - fallback_title = current_page.url.split('/').last.parameterize.titleize

  %h1= "#{pages.count} pages under #{current_page.data.title || fallback_title}"
  
  %ul
    - pages.each do |p|
      - next if p.url == current_page.url
      %li= link_to p.data.title, p.url
