~ wrap_layout :basic do

  :javascript
    function GetURLParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++)
        {
          var sParameterName = sURLVariables[i].split('=');
          if (sParameterName[0] == sParam) {
            return sParameterName[1];
          }
        }
    }
    $(document).ready( function() {
      if (GetURLParameter('contentonly')) {
        $('header').hide();
        $('footer').hide();
      }
    } );

  - unless current_page.data.hide_header
    = partial 'partials/header'

  %section#page-wrap.page-wrap

    %section#page.page

      - if data.site.breadcrumbs
        = partial 'partials/breadcrumbs'

      %section#content.content{class: current_page.data.no_container ? '' : 'container' }
        = partial 'partials/notice'

        -# Show a warning for those using < IE6 or lower
        /[if lt IE 7]
          <p class="chromeframe">You are using an outdated browser.
          <a href="http://browsehappy.com/">Upgrade your browser today</a> or
          <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>

        -# Render actual page content
        = yield

  - unless current_page.data.hide_footer
    = partial 'partials/footer'
