:ruby
  # To use this partial, you must reference this partial like so,
  # passing locals:
  #
  # = partial 'partials/blog_posts', locals: locals

  summarize ||= summarize

%section.articles

  - page_articles.reject {|a| !a.published? }.each do |article|
    = partial 'partials/blog_post', locals: {article: article, summarize: summarize}

  = partial 'partials/blog_pagination', locals: locals
