%footer#footer.text-center

  %hr.visible-print

  - if data.site.footer_links
    %ul.footer-nav-list
      - data.site.footer_links.each do |name, url|
        - if url
          %li= link_to name.strip, url.strip, target: "_blank"
        - else
          %li= name.strip

  =# data.site.founding_year
  - founding = data.site.founding_year
  - year_string = if founding && founding.to_i < Time.now.year
    - founding.to_s + '&ndash;' + Time.now.year.to_s
  - else
    - Time.now.year.to_s

  .copyright
    = data.site.copyright || "&copy; #{year_string} #{data.site.owner || data.site.name}"
    %span.legal= link_to 'Legal & Privacy', '/legal/'

  - if data.site.github
    .edit-this-page
      - icon = '<i class="icon fa fa-pencil"></i>'
      - source_file = current_page.source_file.sub(root, '')
      - github_url = "https://github.com/#{data.site.github}/edit/master#{source_file}"
      = link_to "#{icon}Edit this page on GitHub", github_url, {target: '_blank'}

  .last-modified
    - modified_time = `git log --pretty=format:%ai #{current_page.source_file}`.split(/\n/).first rescue nil

    - if modified_time
      Page last modified
      = Time.parse(modified_time).utc.strftime('%a %-d %b %Y %H:%M %Z')
