@import font-awesome

/* Use the following CSS code if you want to use data attributes for inserting your icons

.editor-toolbar>a:before
  @extend .fa

.icon-bold:before
  @extend .fa-bold

.icon-italic:before
  @extend .fa-italic

.icon-quote:before
  @extend .fa-quote-left

.icon-unordered-list:before
  @extend .fa-list-ul

.icon-ordered-list:before
  @extend .fa-list-ol

.icon-link:before
  @extend .fa-link

.icon-image:before
  @extend .fa-image

.icon-play:before
  @extend .fa-play

.icon-music:before
  content: "\e009"

.icon-contract:before
  content: "\e00a"

.icon-fullscreen:before
  //@extend .fa-expand
  @extend .fa-arrows-alt

.icon-question:before
  content: "\e00c"

.icon-info:before
  @extend .fa-info

.icon-undo:before
  @extend .fa-rotate-left

.icon-redo:before
  @extend .fa-rotate-right

.icon-code:before
  content: "\e011"

.icon-preview:before
  @extend .fa-eye

.icon-preview
  display: none !important

/* BASICS

.CodeMirror
  //height: 300px
  background: white
  font-size: 120%
  //height: auto

.CodeMirror-scroll
  /* Set scrolling behaviour here
  overflow: auto

/* PADDING

.CodeMirror-lines
  padding: 4px 0
  /* Vertical padding around content

.CodeMirror pre
  padding: 0 4px
  /* Horizontal padding of content

.CodeMirror-scrollbar-filler
  background-color: white
  /* The little square between H and V scrollbars

/* CURSOR

.CodeMirror

  div
    &.CodeMirror-cursor
      border-left: 1px solid black
      z-index: 3
    &.CodeMirror-secondarycursor
      border-left: 1px solid silver

  &.cm-keymap-fat-cursor div.CodeMirror-cursor
    width: auto
    border: 0
    background: #7e7
    z-index: 1

  // div.CodeMirror-cursor.CodeMirror-overwrite

/* Shown when moving in bi-directional text

/* Can style cursor different in overwrite (non-insert) mode

/* DEFAULT THEME

.cm-s-paper
  .cm-keyword
    color: #555
  .cm-atom, .cm-number
    color: #7f8c8d
  .cm-def
    color: #00f
  .cm-variable
    color: black
  .cm-variable-2
    color: #555
  .cm-variable-3
    color: #085
  .cm-property, .cm-operator
    color: black
  .cm-comment
    color: #959595
  .cm-string
    color: #7f8c8d
  .cm-string-2
    color: #f50
  .cm-meta
    color: #555
  .cm-error
    color: #f00
  .cm-qualifier, .cm-builtin
    color: #555
  .cm-bracket
    color: #997
  .cm-tag, .cm-attribute
    color: #7f8c8d
  .cm-header
    color: #000
    font-size: 120%
  .cm-quote
    color: #888
  .cm-hr
    color: #999
  .cm-link
    color: #7f8c8d
    color: #57f

.cm-negative
  color: #d44

.cm-positive
  color: #292

.cm-header, .cm-strong
  font-weight: bold

.cm-em
  font-style: italic

.cm-link
  text-decoration: underline

.cm-invalidchar
  color: #f00

div.CodeMirror span
  &.CodeMirror-matchingbracket
    color: #0f0
  &.CodeMirror-nonmatchingbracket
    color: #f22

/* STOP

/* The rest of this file contains styles related to the mechanics of
 * the editor. You probably shouldn't touch them.

.CodeMirror
  position: relative
  overflow: hidden

.CodeMirror-scroll
  /* 30px is the magic margin used to hide the element's real scrollbars
  /* See overflow: hidden in .CodeMirror, and the paddings in .CodeMirror-sizer
  margin-bottom: -30px
  margin-right: -30px
  padding-bottom: 30px
  padding-right: 30px
  height: 100%
  outline: none
  /* Prevent dragging from highlighting the element
  position: relative

.CodeMirror-sizer
  position: relative

/* The fake, visible scrollbars. Used to force redraw during scrolling
 * before actuall scrolling happens, thus preventing shaking and
 * flickering artifacts.

.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler
  position: absolute
  z-index: 6
  display: none

.CodeMirror-vscrollbar
  right: 0
  top: 0
  overflow-x: hidden
  overflow-y: scroll

.CodeMirror-hscrollbar
  bottom: 0
  left: 0
  overflow-y: hidden
  overflow-x: scroll

.CodeMirror-scrollbar-filler
  right: 0
  bottom: 0
  z-index: 6

.CodeMirror-lines
  cursor: text

.CodeMirror pre
  /* Reset some styles that the rest of the page might have set
  -moz-border-radius: 0
  -webkit-border-radius: 0
  -o-border-radius: 0
  border-radius: 0
  border-width: 0
  background: transparent
  font-family: inherit
  font-size: inherit
  margin: 0
  white-space: pre-wrap
  word-wrap: normal
  line-height: inherit
  color: inherit
  z-index: 2
  position: relative
  overflow: visible
  word-break: normal

.CodeMirror-wrap pre
  word-wrap: break-word
  white-space: pre-wrap
  word-break: normal

.CodeMirror-linebackground
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  z-index: 0

.CodeMirror-linewidget
  position: relative
  z-index: 2
  overflow: auto

.CodeMirror-widget
  display: inline-block

.CodeMirror-wrap .CodeMirror-scroll
  overflow-x: hidden

.CodeMirror-measure
  position: absolute
  width: 100%
  height: 0px
  overflow: hidden
  visibility: hidden
  pre
    position: static

.CodeMirror div.CodeMirror-cursor
  position: absolute
  visibility: hidden
  border-right: none
  width: 0

.CodeMirror-focused div.CodeMirror-cursor
  visibility: visible

.CodeMirror-selected
  background: #d9d9d9

.CodeMirror-focused .CodeMirror-selected
  background: #BDC3C7

.cm-searching
  background: #ffa
  background: rgba(255, 255, 0, 0.4)

/* IE7 hack to prevent it from returning funny offsetTops on the spans

.CodeMirror
  span
    *vertical-align: text-bottom
  //height: 450px

@media print
  /* Hide the cursor when printing
  .CodeMirror div.CodeMirror-cursor
    visibility: hidden

\:-webkit-full-screen
  background: #f9f9f5
  padding: 0.5em 1em
  width: 100%
  height: 100%
  padding: 0.5em calc(50vw - 60rem)
  overflow: hidden

\:-moz-full-screen
  padding: 0.5em 1em
  background: #f9f9f5
  width: 100%
  height: 100%
  padding: 0.5em calc(50vw - 60rem)
  overflow: hidden
  font-size: 140%

.editor-wrapper
  //font: 16px/1.62 "Helvetica Neue", "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif
  //color: #2c3e50

  input.title
    //font: 18px "Helvetica Neue", "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif
    background: transparent
    padding: 4px
    width: 100%
    border: none
    outline: none
    opacity: 0.6

/* this is the title

.editor-toolbar
  position: relative
  opacity: 0.6
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none
  &:before, &:after
    display: block
    content: ' '
    height: 1px
    background-color: #bdc3c7
    background: -moz-linear-gradient(45deg, #f9f9f9, #bdc3c7, #f9f9f9)
    background: -webkit-linear-gradient(45deg, #f9f9f9, #bdc3c7, #f9f9f9)
    background: -ms-linear-gradient(45deg, #f9f9f9, #bdc3c7, #f9f9f9)
    background: linear-gradient(45deg, #f9f9f9, #bdc3c7, #f9f9f9)
  &:before
    margin-bottom: 8px
  &:after
    margin-top: 8px

.editor-wrapper input.title
  &:hover, &:focus
    opacity: 0.8

.editor-toolbar
  &:hover
    opacity: 0.8
  a
    display: inline-block
    text-align: center
    text-decoration: none !important
    color: #2c3e50 !important
    width: 24px
    height: 24px
    margin: 2px
    border: 1px solid transparent
    border-radius: 3px
    cursor: pointer
    &:hover, &.active
      background: #fcfcfc
      border-color: #95a5a6
    &:before
      line-height: 24px
  i.separator
    display: inline-block
    width: 0
    border-left: 1px solid #d9d9d9
    border-right: 1px solid white
    color: transparent
    text-indent: -10px
    margin: 0 6px
  a.icon-fullscreen
    position: absolute
    right: 0

.editor-statusbar
  border-top: 1px solid #ece9e9
  padding: 8px 10px
  font-size: 12px
  color: #959694
  text-align: right
  span
    display: inline-block
    min-width: 4em
    margin-left: 1em
  .lines:before
    content: 'lines: '
  .words:before
    content: 'words: '

.editor-preview
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 100%
  background: #f9f9f5
  z-index: 9999
  overflow: auto
  -webkit-transition: left 0.2s ease
  -moz-transition: left 0.2s ease
  -ms-transition: left 0.2s ease
  transition: left 0.2s ease

.editor-preview-active
  left: 0

.editor-preview > p
  margin-top: 0
