header.masthead
  $header-font-size: 2.5ex
  $logo-mult: 0.125
  $logo-height: $header-font-size * (1 + $logo-mult)
  $vertical-pad: 2rem
  $border-height: 4px

  width: 100%
  margin: 0 auto
  padding: 0 $header-font-size
  border-bottom: $border-height solid #4e9a06
  background: #61b60e

  section, div
    vertical-align: middle
    margin-bottom: -$border-height

  h1
    margin: 0
    padding: 0

  @at-root #logo
    height: $logo-height
    margin: $vertical-pad/2 0
    padding: 0 0.5ex

  .hgroup
    float: left

  nav
    float: right
    margin: 0 auto

  .nav-pills

    a
      line-height: $logo-height
      transition: all 0.3s
      border-radius: 0
      padding: $vertical-pad calc(0.5ex + 1.5vw)
      display: inline-block
      margin: 0
      font-size: $header-font-size
      color: white
      opacity: 0.7

    a:hover
      opacity: 0.9
      background-color: rgba(black, 0.05)
      box-shadow: 0 4px 0 0 rgba(black, 0.125)

    a:focus, li.active a
      box-shadow: 0 $border-height 0 0 rgba(black, 0.25)
      background-color: rgba(black, 0.1)
      opacity: 1


#footer
  border-top: 1px solid #b0da86
  margin: 6rem 0 0
  padding: 3rem
  color: #999

  .footer-nav-list
    padding: 0

  .edit-this-page
    display: inline
    padding: 0 0 0 3em

    .icon
      font-size: 16px
      vertical-align: middle
      margin: 0 0.75ex 2px 0
      opacity: 0.8
      transition: 300ms all

    a:hover
      .icon
        opacity: 1

  .last-modified
    display: none

  li
    display: inline
    list-type: none

    + li

      &:before
        content: "\2022"
        margin-right: 3ex
        padding-left: 3ex
        color: #888


@media screen and (min-width: 768px)
  header.masthead
    //background: white
    position: fixed
    top: 0
    z-index: 100

  .page
    margin-top: 12ex

.content
  padding-top: 4ex

  img
    max-width: 100%
    height: auto

.intro
  background-color: #f2faea
  background-image: linear-gradient(to bottom, #f2faea 10%, #fff 120%)
  padding: 4em 0
  margin: -4em 0 0

  .row
    background: green

  h2
    display: none

  .intro-blurb
    clear: both

    img
      margin: 0 auto

    p
      max-width: 50ex
      padding: 2ex

  @media screen and (min-width: 768px)
    .intro-blurb
      margin: 2ex 0

      img
        float: left
        margin: -28px 0.5em 0 0
        width: 96px

  @media screen and (max-width: 767px)
    >div
      margin: 1ex 0

      img
        float: left
        margin: -96px 0.75em 0 0
        width: 64px

  .tagline
    font-size: 42pt

  .btn
    text-align: center
    font-size: 135%
    margin: 2em 0 0 8%
    min-width: 50%

  .btn-action
    background: #61b60e
    border-color: #4e9a06
    border-width: 0 0 6px 0
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1)
    border-radius: 6px 6px 9px 9px
    padding: 6px 24px
    text-shadow: none
    color: white
    transition: all 0.2s

    a
      color: inherit !important
      text-decoration: none

    &:hover
      background-color: #6bca0e
      border-color: #58ae06
      color: white
      transition: all 0.2s

    &:active
      background-color: #57a20e
      border-color: #499006
      border-width: 3px 0 3px 0
      color: #d0e6ba
      transition: box-shadow, background, border-radius, border-color, color 0.2s


//.source-haml,
.source-md
  table:not([class]):not([style])
    @extend .table
    margin: 2em 0

/*.broken-link
  color: red
  font-weight: bold
  text-decoration: line-through

tr.editing
  opacity: 0.5
  background: #ff9

ul.icon-list
  li
    list-style: none
    width: 50%
    float: left
    margin: 0
    padding: 0

    a
      display: block
      padding: 1ex 0

li a[class^="icon-"]:before
  @extend .fa
  padding: 0 0.5ex 0 0
  font-size: 3ex !important
  vertical-align: middle
  min-width: 3ex
  text-align: center

$social-list: twitter facebook google-plus youtube

@each $social-site in $social-list
  .icon-#{$social-site}:before
    @extend .fa-#{$social-site} !optional

.feature-list
  li
    margin: 0.5ex

@media (min-width: 480px)
  .column-split
    -moz-columns: 2 20px
    -webkit-columns: 2 20px
    columns: 2 20px
    -moz-column-fill: balance
    -webkit-column-fill: balance
    column-fill: balance

li.selected
  font-weight: bold

ul.feature-list
  li[class*="status-"] a
    color: red
    opacity: 0.75

  li.status-wip a
    color: orange

  li.status-unknown a
    color: #aaa

  li.status-released a,
  li.status-completed a
    color: green
    opacity: 1

.alert
  position: relative
  overflow: visible

.frontmatter-metadata
  background: #fed
  border: 1px solid #eee
  border-radius: 3px
  max-width: 33%
  margin-left: 1rem
  opacity: 0
  position: absolute
  right: 0
  top: 0
  transition: 500ms all
  z-index: -1

  float: right

  table
    opacity: 0.5
    width: auto
    margin: 1ex 1ex 0.75ex

    th, td
      font-size: 88%

.alert:hover .frontmatter-metadata
  opacity: 1
  z-index: 10

.front-page
  .frontmatter-metadata
    display: none

.related-features
  ul
    -moz-columns: 3
    columns: 3
    list-style: none
    padding: 0

    li
      overflow: hidden
      padding-left: 1ex


div.case-studies
  .case-study
    float: left
    width: 50%
    padding: 2ex 3ex

    &:nth-child(odd)
      clear: both

    img
      max-width: 22ex !important
      max-height: 12ex
      height: auto
      width: auto
      float: right
      margin: 0 0 2ex 3ex

.front-page
  .case-study
    img
      float: right
      width: auto
      height: auto
      margin: 0 3ex 1ex 0
      max-width: 30%
      max-height: 30%

.phrase
  white-space: nowrap

.release
  background-color: #fffac1
  background-image: linear-gradient(to right, #fff -15%, #fffac1 10%, #fffac1 90%, #fff 115%)
  border: 1px solid #fff68b
  border-width: 1px 0
  padding: 2ex
  margin: 0 0 4rem
  font-size: 130%
  line-height: 2rem
  color: mix(#fffac1, black, 70)

  p
    margin: 0
    padding: 0

  a
    color: #f0a700
    padding: 1ex


.partner-logos
  //display: flex

  img
    max-width: 275px
    max-height: 120px
    height: auto
    width: auto

  .parner-block
    float: left
    width: 50%
    min-height: 20em
    padding: 1em 2em 0

    img
      display: block
      margin-bottom: 1em

  h2
    clear: both
    padding-top: 1em

.ovirt-board-logos
  margin: 0 auto
  max-width: 1200px
  text-align: center

  a
    //margin: 2ex 5ex

  img
    height: 90px
    margin: 4ex 6ex

.page > ul.breadcrumb
  padding: 2ex 3ex

  @media screen and (min-width: 768px)
    margin-top: -3ex
