---
index: false
---

- if defined? author

  - if author_card author
    %h2
      About
      = author_name author
    = author_card author

  - else
    %h2
      Articles from
      = author_name author

  - if pages

    - pages.each do |page|
      - if (defined? page.title) && (defined? page.published && page.published?)

        -#%li= page.public_methods
        = partial 'partials/blog_post', locals: {article: page, summarize: 400}

- else

  .authors-list

    -# Sort by number of blog articles, then author's full name
    - blog.articles.group_by {|p| p.data.author}.sort_by {|a, p| [-p.count, author_name(a).downcase]}.each do |author, pages|

      .author-list

        %h2= author_name author

        - if author_card author
          %p= author_card author

        %ul
          - pages.each do |page|
            %li= link_to page.title, page.url
