---
title: ''
page_classes: front-page
pageable: false
no_container: true
authors: bproffitt, dneary, doron, knesenko, mburns, quaid, sandrobonazzola, theron, garrett
wiki_title: Home
wiki_revision_count: 97
wiki_last_updated: 2016-01-26
hide_metadata: true
---

- content_for :head do
  %link(href="/blog/feed.xml" rel="alternate" title="Atom feed" type="application/atom+xml")


%section.intro

  .container

    .col-md-6
      %h1.tagline
        Open your
        %span.phrase virtual datacenter

      = link_to 'Start using oVirt now &raquo;', '/download/', class: 'btn btn-action'

    .col-md-6
      .intro-blurb.intro-net
        :markdown
          ## Manage your virtualized networks
          ![](icon/net.svg)
          oVirt manages virtual machines, storage and virtualized networks.

      .intro-blurb.intro-web
        :markdown
          ## Easy to use web interface
          ![](icon/web.svg)
          oVirt is a virtualization platform with an easy-to-use web interface.

      .intro-blurb.intro-kvm
        :markdown
          ## KVM based virtualization management
          ![](icon/kvm.svg)
          oVirt is powered by the Open Source you know - KVM on Linux.


- if defined? page_number && page_number < 2

  -# First-page only stuff here
  -# (If a blog is included below, then it may paginate)

.release
  .container
    :ruby
      # Rely on either a releases.yml or scan the release directory
      # (Hard-coding release version & date is temporary)
      release_version = '3.6.4'
      release_date = '2016-03-29'.to_date

    :markdown
      {:.pull-left}
      Current release: #{release_version} (#{release_date})

      {:.pull-right}
      [Read the release notes](/release/#{release_version}/)
      [Get started with oVirt #{release_version}](Download)

.container
  .row
    .col-md-8
      %section.blog-posts

        %h2
          = data.site.name
          News

        = partial 'partials/blog_posts', locals: locals

        = link_to 'See all blog posts', '/blog/'

    .col-md-4
      %h2 Upcoming events
      = partial 'partials/upcoming'
      .more=link_to "View all current events&hellip;", "/events/"

  .row

    .col-md-6
      -############################################################################
      -# The latest case study is pulled from the case studies page automatically.
      -# To edit the case study, please edit `case-studies.html.md` instead.
      -############################################################################

      :ruby
        studies = sitemap.resources.select do |p|
          next unless p.data.page_classes
          p.data.page_classes[/case-studies/]
        end.first

        last_case_study = Nokogiri::HTML(studies.render({layout: false}))
          .css('.case-study')
          .last

      :markdown
        ## Case Study

        #{last_case_study}

        {:.pull-right}
        [View all case studies](Category:Case studies)


    .col-md-6
      :markdown

        ## Packed with Features

        {:.feature-list}
        * Choice of stand-alone Hypervisor or install-on-top of your existing Linux installation
        * High availability
        * Live migration
        * Load balancing
        * Web-based management interface
        * Self-hosted engine
        * iSCSI, FC, NFS, and local storage
        * Enhanced security: SELinux and Mandatory Access Control for VMs and hypervisor
        * Scalability: up to 64 vCPU and 2TB vRAM per guest
        * Memory overcommit support (Kernel Samepage Merging)
        * Developer SDK for ovirt-engine, written in Python

        {:.pull-right}
        [View all features…](Category:Feature)

  .row
    .col-md-6
      :markdown

        ### Community is Key

        Everyone is encouraged to [ join the oVirt community](Community), and help us bring our open source software to virtual datacenters worldwide.

        Community can be found in many places in the global community. Keep track of the latest happenings in the oVirt community, including new release announcements, and send your thoughts and links to virtualization-related topics on these social media channels:

        {:.icon-list}
        * [Twitter](//twitter.com/ovirt){:.icon-twitter}
        * [Google+](//plus.google.com/u/0/communities/109346090491400112913){:.icon-google-plus}
        * [Facebook](//www.facebook.com/groups/ovirt.openvirtualization/){:.icon-facebook}
        * [YouTube](//www.youtube.com/user/ovirtproject){:.icon-youtube}

    .col-md-6
      .twitter-widget
        %h2 @oVirt on Twitter
        :ruby
          twitter_options = {
            :href => 'https://twitter.com/ovirt',
            'data-chrome' => 'noheader nofooter noborders noscrollbar transparent',
            'data-dnt' => true,
            'data-tweet-limit' => 3,
            'data-link-color' => '#61b60e',
            'data-show-replies' => false,
            'data-widget-id' => '615488920038420480'
          }

        :javascript
          // Load the Twitter widget JS in a <script> at the top of the doc
          !function (doc, tag, id) {
            var scriptTag,
                firstScriptTag = doc.getElementsByTagName(tag) [0];

            if (!doc.getElementById(id)) {
              scriptTag = doc.createElement(tag);
              scriptTag.id = id;
              scriptTag.src = '//platform.twitter.com/widgets.js';
              firstScriptTag.parentNode.insertBefore(scriptTag, firstScriptTag);
            }
          }(document, 'script', 'twitter-wjs');

        -# Hook for the Twitter widget
        .twitter-timeline{twitter_options}
          %noscript The embedded Twitter timeline requires JavaScript.

        .more-link.pull-right
          -# More link under the widget
          %a{href: twitter_options[:href]} More tweets by @oVirt&hellip;


- content_for :tail do
  :coffee
    $ ->
      # Change the location to what's in the link if the span is clicked
      $('span.btn').on 'click', (e)->
        window.location = $('a', @).attr('href') if @ == e.target
